* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  /* scroll-snap-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: auto; */
  &::-webkit-scrollbar {
    width: 0.6rem;
  }
  &::-webkit-scrollbar-track {
    background: radial-gradient(
      circle at 10% 20%,
      rgba(6, 0, 255, 0.61) 0%,
      rgb(191, 0, 255) 100.7%
    );
    box-shadow: inset 0 0 15px rgb(255, 255, 255);
    border-radius: 3rem;
    /* border-top-right-radius: 21rem; */
    /* height: 10px; */
    /* height: 1000px; */
    overflow: auto;
  }

  &::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: linear-gradient(
      109.6deg,
      rgb(33, 25, 180, 0.757) 11.2%,
      rgb(253, 29, 29, 0.757) 55.2%,
      rgb(252, 176, 69, 0.757) 91.1%
    );
    border-radius: 3rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      109.6deg,
      rgb(33, 25, 180) 11.2%,
      rgb(253, 29, 29) 55.2%,
      rgb(252, 176, 69) 91.1%
    );
  }

}

header {
  display: flex;
  justify-content: space-around;
  gap: 43rem;
  align-items: center;
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.2rem;

  background: radial-gradient(
    250px at 10.9% 48.6%,
    rgb(194, 227, 255, 0.454) 39.3%,
    rgb(226, 196, 253, 0.454) 72.5%
  );
}

img {
  height: 5rem;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 3rem;
  /* border: 1px solid rgb(55, 255, 0); */
  padding: 0.6rem;
  /* background: linear-gradient(
    96.2deg,
    rgb(255, 230, 112, 0.145) 10.4%,
    rgb(255, 100, 100, 0.145) 43.8%,
    rgb(0, 93, 219, 0.145) 105.8%
  ); */
  /* background: radial-gradient(
    253px at 12.6% 77.9%,
    rgb(221, 255, 214, 0.554) 0.3%,
    rgb(214, 254, 254, 0.554) 90.5%
  ); */
  background: linear-gradient(
    113.3deg,
    rgb(0, 98, 186, 0.545) -6%,
    rgb(88, 40, 178, 0.545) 10.2%,
    rgb(234, 39, 119, 0.545) 34.3%,
    rgb(255, 80, 152, 0.545) 54%,
    rgb(255, 101, 74, 0.545) 62.5%,
    rgb(254, 166, 34, 0.545) 77.2%,
    rgb(255, 227, 99, 0.545) 91.2%,
    rgb(58, 243, 156, 0.545) 112%,
    rgb(58, 243, 156, 0.545) 118.1%
  );
  border-radius: 0.5rem;
}

li {
  /* border: 1px solid red; */
  background-color: #04bfe4;
  padding: 0.4rem;
  border-radius: 0.5rem;
  background: linear-gradient(
    109.6deg,
    rgb(80, 35, 217, 0.254) 11.2%,
    rgb(217, 35, 189, 0.254) 91.1%
  );
  font-size: 1.1rem;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}

li:hover {
  background: linear-gradient(
    109.6deg,
    rgb(80, 35, 217, 0.854) 11.2%,
    rgb(217, 35, 189, 0.854) 91.1%
  );
}

marquee {
  /* border: 1px solid #845269; */
  padding: 0.3rem;
  width: 90%;
  margin-left: 4.7rem;
  background: linear-gradient(
    68.6deg,
    rgb(252, 165, 241) 1.8%,
    rgb(181, 255, 255) 100.5%
  );
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
}

.mainSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 76vh;
  border-radius: 0.4rem;
  /* border: 1px solid red; */
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  width: 85%;
  margin-left: 7rem;
  margin-top: 1rem;
  /* flex-direction: row-reverse; */
  /* background: radial-gradient(circle at 2.4% 35.1%, rgb(129, 211, 225) 0%, rgb(239, 145, 236) 90%); */
  /* background: linear-gradient(111.1deg, rgb(251, 140, 0, 0.345) 3.2%, rgb(98, 0, 234, 0.345) 90.3%); */
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250, 0.345) 0%,
    rgb(251, 252, 219, 0.345) 100%
  );
}

.mainSectionC {
  width: 40%;
}

.mainSectionImage {
  height: 22rem;
  border-radius: 70% 30% 44% 56% / 47% 47% 53% 53%;
  filter: contrast(140%) saturate(90%);
}

.mainSectionImageBg {
  /* border: 1px solid red; */
  border-radius: 70% 30% 44% 56% / 47% 47% 53% 53%;
  /* background: linear-gradient(to right,  #8458742a, #45747826); */
  background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));
  /* background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%); */
  height: 22rem;
  margin-top: 3rem;
}

.mainSectionImageBg:hover {
  /* border: 1px solid red; */
  /* border-radius: 70% 30% 44% 56% / 47% 47% 53% 53%; */

  /* background: linear-gradient(to right,  #8458742a, #45747826); */
  background: linear-gradient(to right, rgb(151, 150, 240), rgb(251, 199, 212));
  /* background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%); */
  height: 22rem;
  margin-top: 3rem;
  transition: all ease 1s;
}

.paraMainSection {
  margin: 1rem;
  /* border: 1px solid red; */
  /* background: linear-gradient(to right,  #84587471, #4574786a) ; */

  background: radial-gradient(
    250px at 10.9% 48.6%,
    rgb(194, 227, 255) 39.3%,
    rgb(226, 196, 253) 72.5%
  );

  padding: 0.4rem;
  border-radius: 0.4rem;
  font-family: sans-serif;
  color: rgb(37, 36, 36);
  /* position: relative; */
  /* width: 85%; */
  width: 10rem;
  font-size: 0.4rem;
}

.paraMainSection:hover {
  margin: 1rem;
  /* border: 1px solid red; */
  /* background: linear-gradient(to right,  #84587471, #4574786a) ; */

  /* background: radial-gradient(250px at 10.9% 48.6%, rgb(194, 227, 255) 39.3%, rgb(226, 196, 253) 72.5%); */
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 113, 210) 0%,
    rgb(184, 96, 255) 90%
  );

  padding: 0.4rem;
  border-radius: 0.4rem;
  font-family: sans-serif;
  color: #f7f7f7;

  transform: translateX(5rem);
  transition: all ease 1s;
  font-size: 1.04rem;
  font-weight: 500;
  width: 80%;
}

h1, h2 {
  background: linear-gradient(
    109.6deg,
    rgb(43, 1, 91) 13.4%,
    rgb(122, 2, 54) 100.2%
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
  font-family: "Cerebri Sans", Helvetica, Arial, sans-serif;
}

span {
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
}

.paraMainSection1,
.paraMainSection3,
.paraMainSection5 {
  margin-left: 8rem;
  position: relative;
}

.paraMainSection2,
.paraMainSection4 {
  margin-right: 8rem;
  position: relative;
}

.paraSectionContainer {
  /* border: 1px solid red; */
  /* background: linear-gradient(
    to right,
    rgb(67, 67, 67, 0.754) 0%,
    rgb(0, 0, 0, 0.754) 100%
  ); */

  background: radial-gradient(
    circle at 10% 20%,
    rgb(236, 158, 248) 0%,
    rgb(131, 83, 241) 90.1%
  );
  padding: 0.3rem 0;
  width: 20rem;
  border-radius: 0.71rem;
  margin-top: 1.5rem;
  margin-left: 3.5rem;
}

.paraSectionContainer:hover {
  width: 36rem;
  border-radius: 0.71rem;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(236, 158, 248, 0.345) 0%,
    rgb(131, 83, 241, 0.345) 90.1%
  );

  transition: all ease 0.9s;
}

.emoji {
  font-size: 60px;
  cursor: pointer;
  transition: 2s ease all;
}

.text {
  /* display: none; */
  font-size: 24px;
  color: black;
  transition: 2s ease all;
}

.mainSectionProjectsBg {
  min-height: 100vh;
  background: linear-gradient(45deg, #72d1e4, #04bfe4);
  /* border: 1px solid red; */
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  width: 85%;
  margin-left: 7rem;
  margin-top: 1rem;
}

.mainSectionProjectsMenuIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 12rem;
  border: 1px solid red;
  margin-left: 68.59rem;
  height: 10rem;
}

.socialMediaSection {
  height: calc(100vh - 2vh);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  width: 85%;
  margin-left: 7rem;
  margin-top: 1.8rem;
  margin-bottom: 0.5rem;
  /* background: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%); */
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 189, 189) 0%,
    rgb(255, 216, 168) 62%,
    rgb(255, 248, 168) 100.7%
  );
  border-radius: 0.4rem;

  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250, 0.345) 0%,
    rgb(251, 252, 219, 0.345) 100%
  );
}

.socialMediaPages {
  position: absolute;
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 75%;
  margin: 3rem 8rem 13rem 5rem;
  height: 78vh;
  border-radius: 0.8rem;
  background: linear-gradient(
    90.5deg,
    rgb(247, 204, 0, 0.154) 0.2%,
    rgb(247, 0, 0, 0.154) 27.3%,
    rgb(161, 0, 156, 0.154) 85.5%
  );
  /* display: flex; */
  flex-wrap: wrap;
  overflow: scroll;
  overflow-x: hidden;
}
.socialMediaPages:hover {
  background: linear-gradient(
    90.5deg,
    rgb(247, 204, 0, 0.654) 0.2%,
    rgb(247, 0, 0, 0.654) 27.3%,
    rgb(161, 0, 156, 0.654) 85.5%
  );
}
.socialMedia {
  /* border: 1px solid black; */

  padding: 3rem;
  border-radius: 10.5rem;
  background: linear-gradient(
    113.9deg,
    rgb(255, 7, 7, 0.345) -4.5%,
    rgb(255, 255, 5, 0.345) 98.8%
  );
  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250, 0.345) 0%,
    rgb(251, 252, 219, 0.345) 100%
  );
  transform-style: preserve-3d;
  transition: all 1s ease;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 2rem;




  /* transition: all ease 2s; */
}

.socialMedia:hover {
  background: linear-gradient(
    57.4deg,
    rgb(249, 206, 183) 4.6%,
    rgb(234, 174, 202) 26%,
    rgb(210, 182, 226) 49.1%,
    rgb(173, 209, 242) 86.5%
  );
  cursor: pointer;
  transform: rotateY(360deg);
}

.socialMediaIcon {
  /* opacity: 0.5; */
  height: 13rem;
}

.socialMediaSectionHeadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  margin: 1rem auto;
  /* border: 1px solid red; */
  width: 50%;
  padding: 0.5rem;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(210, 36, 129, 0.545) 0%,
    rgb(152, 75, 215, 0.545) 90%
  );
  box-shadow: rgba(0, 0, 0, 0.95) 0px 25px 20px -22px;
  border-radius: 0.5rem;
}

.aboutMeSection {
  height: calc(100vh - 3vh);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  width: 80%;
  margin: 1rem auto;
  /* background: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%); */
  background: radial-gradient(
    circle at 10% 20%,
    rgb(255, 189, 189) 0%,
    rgb(255, 216, 168) 62%,
    rgb(255, 248, 168) 100.7%
  );
  border-radius: 0.4rem;

  background: linear-gradient(
    -20deg,
    rgb(233, 222, 250, 0.345) 0%,
    rgb(251, 252, 219, 0.345) 100%
  );

  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background: radial-gradient(
      circle at 10% 20%,
      rgba(6, 0, 255, 0.61) 0%,
      rgb(191, 0, 255) 100.7%
    );
    box-shadow: inset 0 0 15px rgb(255, 255, 255);
    border-radius: 3rem;
    /* border-top-right-radius: 21rem; */
    /* height: 10px; */
    /* height: 1000px; */
    overflow: auto;
  }

  &::-webkit-scrollbar-thumb {
    /* background: #888; */
    background: linear-gradient(
      109.6deg,
      rgb(33, 25, 180, 0.757) 11.2%,
      rgb(253, 29, 29, 0.757) 55.2%,
      rgb(252, 176, 69, 0.757) 91.1%
    );
    border-radius: 3rem;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      109.6deg,
      rgb(33, 25, 180) 11.2%,
      rgb(253, 29, 29) 55.2%,
      rgb(252, 176, 69) 91.1%
    );
  }
}

.postTopLeftImg {
  /* position: absolute; */
  height: 6rem;
  border-radius: 4rem;
  object-fit: cover;
  /* margin-right: 11rem; */
  background: linear-gradient(
    113.5deg,
    rgb(234, 234, 234) 22.3%,
    rgb(201, 234, 211) 56.6%,
    rgb(255, 180, 189) 90.9%
  );
}

.postContainer {
  /* border: 1px solid red; */
  width: 80%;
  margin: 0.5rem auto;
  height: 90vh;
  border-radius: 1rem;
  background: radial-gradient(
    circle at 18.7% 37.8%,
    rgb(250, 250, 250, 0.754) 0%,
    rgb(225, 234, 238, 0.754) 90%
  );
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* overflow-y: scroll; */
  
}

.postWrapper {
  padding: 1rem;
  /* border: 1px solid rebeccapurple; */
}

.postTop {
  /* border: 1px solid rgb(255, 0, 0); */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 55rem;
  margin: 0 auto;
  height: 5rem;
  background: linear-gradient(
    94.5deg,
    rgb(255, 235, 104, 0.545) -1.2%,
    rgb(61, 247, 255, 0.545) 119.2%
  );
  border-radius: 0.4rem;
  position: relative;
}

.postTopLeftName {
  /* border: 1px solid rebeccapurple; */
  /* position: absolute; */
  width: 18rem;
  /* height: 4rem; */
  margin-right: 10rem;
  padding: 0.8rem;
  font-size: 1.7rem;
  font-weight: bold;
  border-radius: 0.4rem;
  background: linear-gradient(
    109.6deg,
    rgb(6, 183, 249, 0.145) 11.2%,
    rgb(25, 74, 236, 0.145) 91.1%
  );

}

.postTopLeftDate {
  /* border: 1px solid rgb(0, 0, 0); */
  width: 18rem;

  /* margin-right: 0.5rem;  */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
  height: 3.5rem;
  color: rgb(100, 100, 100);
  background: linear-gradient(
    79.8deg,
    rgb(101, 132, 154, 0.145) 3.2%,
    rgb(160, 197, 201, 0.145) 89.1%
  );
  border-radius: 0.4rem;
  font-size: 1.6rem;

}

.postCenter {
  /* border: 1px solid red; */
  width: 45vw;
  margin: 0.8rem auto;
  
}

.postDiscription{
  font-size: 1.4rem;
}

.postDiscriptionSection {
  /* border: 1px solid blue; */
  text-align: start;
  padding: 0.5rem;
  background: linear-gradient(
    79.8deg,
    rgb(101, 132, 154, 0.145) 3.2%,
    rgb(160, 197, 201, 0.145) 89.1%
  );
  border-radius: 0.5rem;
  margin: 0 auto;
}

.postBottom {
  /* border: 1px solid red; */
  padding: 0.5rem;
  background: linear-gradient(
    60deg,
    rgb(171, 236, 214, 0.557) 0%,
    rgb(251, 237, 150, 0.557) 100%
  );
  border-radius: 0.5rem;
  margin: 0 auto;
  width: 45vw;
}

.postBottomImg {
  height: 27rem;
  width: 46.8rem;
  border-radius: 0.2rem;
  object-fit: cover;
}

.postBottomImgContainer {
  /* border: 1px solid red; */
  /* width: 100rem; */
}


.postCommentDiscription {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 9rem;
  /* border: 1px solid red; */
  padding: 0.4rem;
  background-color: rgba(245, 245, 220, 0.411);
  border-radius: 0.5rem;
}

.postComments {
  /* border: 1px solid red; */
  padding: 0.4rem;
  background-color: rgba(245, 245, 220, 0.411);
  border-radius: 0.5rem;
}

.postLikeCounter{
  font-size: 1.5rem;
}

.abt{
  width: 25%;
  margin-bottom: 3rem;
}

.youTubetLogo{
  width: 13rem;
  border-radius: 15rem;

}

.footer{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-around;
  gap: 43rem;
  align-items: center;
  margin: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0.2rem;

  background: radial-gradient(
    250px at 10.9% 48.6%,
    rgb(194, 227, 255, 0.454) 39.3%,
    rgb(226, 196, 253, 0.454) 72.5%
  );
  padding: 1rem;
}